

.pre__buttons{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
}

.outline-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin-top: 2rem;
    padding: 1rem;
    min-height: 10rem;

}