.navbar{
    display: flex;
    width: 100%;
    height: 5rem;

    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: #c9fffd;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    
}
.logo h1{
    display: flex;
    color: #1775df;
    font-size: 2rem;
}
.logo span{
    color: red;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.link ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    color: #666;
}


