
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
 
background: linear-gradient(#c9fffd,#c2d9dd,#9eebf9);
min-height: 100vh;
width: 100%;
font-family: 'Mukta', sans-serif;

}


:root{
  ---primary-color:#000;
  ---secondry-color:#444;
  ---btn-background:#086469;
  ---btn-color:#ffff;
  ---primary-background:#ffff;
  ---gradient: linear-gradient(#c9fffd,#c2d9dd,#9eebf9);

}