
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
 
background: linear-gradient(#c9fffd,#c2d9dd,#9eebf9);
min-height: 100vh;
width: 100%;
font-family: 'Mukta', sans-serif;

}


:root{
  ---primary-color:#000;
  ---secondry-color:#444;
  ---btn-background:#086469;
  ---btn-color:#ffff;
  ---primary-background:#ffff;
  ---gradient: linear-gradient(#c9fffd,#c2d9dd,#9eebf9);
  ---font-size-head:1.8rem;
  

}

.landing__container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
}
.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head h1,.head h3{
  justify-content: center;
  align-items: center;
  display: flex;
}
.landing__container .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  max-width: 60%;
  font-weight: 600;
  line-height: 3.2rem;
  margin: 0 auto;
  color: #333;
  padding: 1rem 1rem 1rem 2rem;
}

.landing__container .intro__details {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.1rem;
  color: #555;
}

.landing__container .buttons {
  display: flex;
  width: 40%;
  margin: 1rem auto;
}

.landing__container .buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  background: var(---btn-background);
  border-radius: 5px;
  color: var(---btn-color);
  cursor: pointer;
  transition: 0.8s all;
  text-decoration: none;
}

.landing__container .buttons button:hover {
  box-shadow: 1px 1px 20px #ddacac, 2px 2px 30px #f4a3a3;
}

/* button style */

.pre__buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 2rem;
  min-height: 10rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 1px 1px 10px #999;
}

.outline-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin-top: 2rem;
  padding: 1rem;
  min-height: 10rem;
  margin: auto;
  box-shadow: 1px 1px 10px #999;
}

/* All containers */

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.container h1 {
  width: 90%;
  margin: auto;
  font-size: var(---font-size-head);
}
.container p {
  display: flex;

  width: 90%;
  margin: 1rem auto;
}

.container p b {
  display: flex;
  height: 2rem;
  margin: 0 0.3rem;
}

.container h3 {
  display: flex;
  width: 90%;
  margin: 0.5rem auto;
}
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 1rem;
  gap: 2rem;
  margin: auto;
  box-shadow: 1px 1px 10px #999;
}
